{% extends "base/pilotos_base.html" %}

<!-- Como extiende de la plantilla piloto, solo se debe colocar código dentro del bloque -->
{% block contenido_principal %}

    <!-- Por facilidad, aquí colocamos el fondo que necesitamos. -->
    <style>
        body {
            background-image: url(../static/img/fondo13.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

    <!-- De aquí en adelante va todo el contenido de la página -->
    <section class="form-register">
        <center>
            <h4>VUELOS ASIGNADOS</h4>
            <br>
        </center>
        <label for="nombre">Nombre del Piloto:
            <input class="controls" type="text" name="nombre" id="nombre">
        </label>
        <label for="identificacion">identificación Piloto:
            <input class="controls" type="number" name="identificacion" id="identificacion">
        </label>
        <label for="avion">Avión Asignado:
            <input class="controls" type="text" name="avion" id="avion">
        </label>
        <label for="origen">Origen:
            <input class="controls" type="text" name="origen" id="origen">
        </label>
        <label for="destino">Destino:
            <input class="controls" type="text" name="destino" id="destino">
        </label>
    </section>
{% endblock contenido_principal %}