<!-- POR FAVOR LEER LA NOTA EN perfil_base.html -->

{% extends "base/perfil_base.html" %}

<!-- Agregamos el título de la barra laterial principal -->
{% block titulo %}
    <h2>Ajustes Admin</h2>
{% endblock titulo %}

<!-- Lista de la barra lateral principal -->
{% block lista %}
    <li><a href="index">Inicio</a></li>
    <li><a href="admin_vuelos">Vuelos</a></li>
    <li><a href="admin_aviones">Aviones</a></li>
    <li><a href="admin_pilotos">Pilotos</a></li>
    <li><a href="admin_usuarios">Usuarios</a></li>
{% endblock lista %}

<!-- Aquí, para poder usar una plantilla dentro de otra plantilla, se coloca
otro bloque -->
{% block contenido %}
    {% block contenido_principal %}
    {% endblock contenido_principal %}
{% endblock contenido %}