{% extends "base/admin_base.html" %}

<!-- Como extiende de la plantilla admin, solo se debe colocar código dentro del bloque -->
{% block contenido_principal %}

    <!-- Por facilidad, aquí colocamos el fondo que necesitamos. -->
    <style>
        body {
            background-image: url(../static/img/fondo11.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

    <!-- De aquí en adelante va todo el contenido de la página -->

{% endblock contenido_principal %}