<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
    </head>
    <body>
        <h1>Solo para dar una idea</h1>
        <ul>
            <li><a href="check_in">Usuarios Check in</a></li>
            <li><a href="usuarios_editar_datos">Usuarios editar datos</a></li>
            <li><a href="usuarios_mis_vuelos">Usuarios mis vuelos</a></li>
            <li><a href="usuarios_reserva">Usuarios Reserva</a></li>
            <li><a href="piloto_comentarios_vuelo">Piloto comentarios vuelo</a></li>
            <li><a href="piloto_editar_datos">Piloto editar datos</a></li>
            <li><a href="piloto_vuelos_asignados">Piloto vuelos asignados</a></li>
            <li><a href="admin_aviones">Admin Aviones</a></li>
            <li><a href="admin_vuelos">Admin Vuelos</a></li>
            <li><a href="admin_pilotos">Admin Pilotos</a></li>
            <li><a href="admin_usuarios">Admin Usuarios</a></li>
            <li><a href="login">Inicio de Sesión</a></li>
            <li><a href="registro">Registro</a></li>
        </ul>
    </body>
</html>