<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="¡Vuelve a Soñar con Tu Proximo Viaje! Aprovecha las Ofertas y Descuentos en El Embrujo">
    <link href="../static/css/home.css" rel="stylesheet" />
    <title>Aeropuerto El Embrujo</title>
  </head>
  <body>
    <header>
    <div id="principal">
      <div id="cabecera">
        <nav>
          <ul>
            <!-- <li><a href="index.html">Inicio</a></li> -->
            <li><a href="registro">Registro</a></li>
            <li><a href="login">Iniciar Sesión</a></li>
            <li><a href="usuarios_reserva">Buscar Vuelos</a></li>
            <li><a href="terminos_y_condiciones">Blog</a></li>
          </ul>
        </nav>
        <img id="logo" src="../static/img/img6.jpg" />
      </div>
    </div>
    
    </header>
    <div id="columnas" class="columnas">
      <div id="colPortada1" class="col col1">
        <h2 id="titPortada" class="titPortada"><img class="iconoh2" src="../static/img/avion.png" />Ventajas
          de volar</h2>
        <img id="img1" class="imgComplemento" src="../static/img/fondo1.jpg" /><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sapiente mollitia sequi! Soluta quibusdam, natus quo ducimus facere iure ipsa blanditiis, dolorem nesciunt perspiciatis ipsam non suscipit quidem quia dolores.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, iusto commodi? Corporis harum, animi aliquam vero nobis eius totam fugiat nesciunt minima laboriosam natus voluptate rerum reiciendis reprehenderit, sint iste.</p> 
      </div>
      <div id="colPortada2" class="col col2">
        <h2 id="titPortada2" class="titPortada"><img class="iconoh2" src="../static/img/avion.png" />Reserva tu vuelo</h2>
        <img id="img2" class="imgComplemento" src="../static/img/fondo2.jpg" />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore modi blanditiis fugit a non fuga ipsa, quaerat obcaecati tenetur quam rem qui aspernatur exercitationem illo odio maxime distinctio. Ipsa, nihil!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, optio quasi odio cumque mollitia eum porro amet vel laboriosam error aperiam explicabo illum assumenda quia commodi voluptates. Inventore, quaerat vel?</p> 
      </div>
      <div id="colPortada3" class="col col3">
        <h2 id="titPortada3" class="titPortada"><img class="iconoh2" src="../static/img/avion.png" /> Servicios Embrujo</h2>
        <img id="img3" class="imgComplemento" src="../static/img/fondo3.jpg" />
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque suscipit deserunt incidunt dolorem itaque labore, consectetur quas, assumenda id fugit obcaecati quaerat ea amet quibusdam rem, veritatis quis veniam nesciunt!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam obcaecati tenetur fugiat deserunt error sunt minima quod ducimus accusantium at illum odit aliquam amet, autem, modi doloremque voluptas itaque voluptatum.</p>
      </div>
      </center>
        
      </div>
    </div>
    <footer>
        <p>Contáctenos</p>
        <p>Linea Gratuita: 018000-00001</p>
        <p>Correo: preguntas@elembrujo.com</p>
    </footer>
  </body>
</html>
