<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href=".\static\css\style.css" type="text/css">
        <title>Recuperación contraseña</title>
    </head>

    <body>
        <section class="form-register">
            <h4>Recuperación de contraseña</h4>
            <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
            <input class="botons" type="submit" value="Recuperar">
            <p><a href="index">Regresar</a></p>
        </section>
    </body>
</html>