<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href=".\static\css\style.css" type="text/css">
        <title>Registro</title>
    </head>

    <body>
        <section class="form-register">
            <h4>Datos Personales</h4>
            <form action="{{ url_for('registro') }}"  method="post" name="formRegistro" onsubmit="validar_formulario();">
            {{form.nombre(size=30, class_="controls", placeholder="Ingrese su Nombre Completo")}}
            {{form.usuario(size=30, class_="controls", placeholder="Ingrese su Correo")}}
            {{form.id_number(size=30, class_="controls", placeholder="Ingrese su ID")}}
            {{form.telefono(size=30, class_="controls", placeholder="Ingrese su Teléfono")}}
            {{form.direccion(size=30, class_="controls", placeholder="Ingrese su Dirección")}}
            {{form.nacimiento.label}}
            {{form.nacimiento(size=30, class_="controls")}}
            {{form.password1(size=30, class_="controls", placeholder="Ingrese su Contraseña")}}
            {{form.confirm(size=30, class_="controls", placeholder="Repita su Contraseña")}}
            {{form.enviar(class_="botons")}}
            </form>
            <p><a href="terminos_y_condiciones">Terminos y Condiciones</a></p>
            <p><a href="login">Ya poseo una Cuenta</a></p>
            <p><a href="index">Regresar</a></p>
        </section>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>