<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href=".\static\css\style.css" type="text/css">
        <title>Registro</title>
    </head>

    <body>
        <section class="form-register">
            <h4>Datos Personales</h4>
            <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
            <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
            <input class="controls" type="text" name="DNI" id="DNI" placeholder="Ingrese su # de identificación">
            <input class="controls" type="text" name="telefono" id="telefono" placeholder="Ingrese su teléfono">
            <input class="controls" type="text" name="direccion" id="direccion" placeholder="Ingrese su dirección">
            <label for="nacimiento">Fecha de Nacimiento:</label>
            <input class="controls" type="date" name="nacimiento" id="nacimiento" placeholder="Fecha de Nacimiento">
            <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">
            <input class="controls" type="password" name="confirm_password" id="confirm_password" placeholder="Confirme su Contraseña">
            <input class="botons" type="submit" value="Registrar"  onclick="alert('Por favor, revisa tu correo') ">
            <p><a href="terminos_y_condiciones">Terminos y Condiciones</a></p>
            <p><a href="login">Ya poseo una Cuenta</a></p>
            <p><a href="index">Regresar</a></p>
        </section>
    </body>
</html>